/* 
 * Container Composition
 * 
 * TODO: Create container layout that:
 * - Centers content
 * - Manages max-width
 * - Provides consistent padding
 * - Works responsively
 */
body {
    width: calc(100vw - 100px);
    justify-self: center;
}

.header__content {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 25px;
    padding: 10px;
    margin-bottom: 25px;
}

.header__branding {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.header__logo {
    text-align: left;
    display: inline-block;
    padding: 10px; /*Replace with Variable*/
}

.nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.theme-toggle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav__link {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 200px;
}

.nav__item {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}