/* 
 * Grid Composition
 * 
 * TODO: Create responsive grid system that:
 * - Handles multi-column layouts
 * - Uses CSS Grid
 * - Works across different screen sizes
 * - Provides consistent gaps
 */

 .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .grid .card {
    width: 500px;

 }