/* 
 * Stack Composition
 * 
 * TODO: Create vertical spacing system that:
 * - Manages vertical rhythm
 * - Provides consistent spacing between elements
 * - Uses logical properties
 */
:root {
   --vertical-margin: 25;
   --card-width: 300;
}

 .stack {
    margin-top: 25px;
    margin-bottom: 25px;
 }

.card {
   margin-top: calc(var(--vertical-margin) * 1px);
   margin-bottom: calc(var(--vertical-margin) * 1px);
   max-width: calc(var(--card-width) * 1px);
}

.card__image {
   width: calc(var(--card-width) * 1px);
}