html {
    /* Light (base) theme variables */
    /* Color Scheme agreed upon by team applied to the site */
    --bg-clr: #feefe3;
    --text-clr: #4A6670;
    --heading-clr: #BB7E5D;
    
    --primary-clr: #6295e1;
    --secondary-clr: #4DA167;
    --accent-clr: #E4C3AD;
    
    --link-clr: color-mix(in srgb, var(--text-clr), var(--secondary-clr) 50%) ;
    --link-hover-clr: color-mix(in srgb, var(--link-clr), black 20%);
    
    --border-clr: var(--text-clr);
    
    --header-bg-clr: var(--heading-clr);
    --header-text-clr: var(--text-clr);
    
    --footer-bg-clr: var(--heading-clr);
    --footer-text-clr: var(--text-clr);
    
    --button-bg-clr: var(--secondary-clr);
    --button-text-clr: var(--text-clr);
    --button-hover-bg-clr: color-mix(in srgb, var(--button-bg-clr), black 20%);
    
    --card-bg-clr: var(--secondary-clr);
    --card-border-clr: var(--text-clr);
    
    & .dark {
        display: none;
    }

    /* Override with dark theme variables */
    &.dark {
        /* Dark theme variables */
        /* Color Scheme agreed upon by team applied to the site */
        --bg-clr: #383434;
        --text-clr: #feefe3;
        --heading-clr: color-mix(in srgb, #BB7E5D, black 20%);
        
        --primary-clr: color-mix(in srgb, #6295e1, black 10%);
        --secondary-clr: color-mix(in srgb, #4DA167, black 20%);
        --accent-clr: color-mix(in srgb, #E4C3AD, black 20%);
        
        --link-clr: color-mix(in srgb, var(--text-clr), var(--secondary-clr) 50%);
        --link-hover-clr: color-mix(in srgb, var(--link-clr), white 20%);
        
        --border-clr: var(--text-clr);
        
        --header-bg-clr: var(--heading-clr);
        --header-text-clr: var(--text-clr);
        
        --footer-bg-clr: var(--heading-clr);
        --footer-text-clr: var(--text-clr);
        
        --button-bg-clr: var(--primary-clr);
        --button-text-clr: var(--text-clr);
        --button-hover-bg-clr: color-mix(in srgb, var(--button-bg-clr), black 20%);
        
        --card-bg-clr: var(--secondary-clr);
        --card-border-clr: var(--text-clr);
        & .dark {
            display: block;
        }

        & .light {
            display: none;
        }
    }

    /* Repeat dark theme variables */
    @media (prefers-color-scheme: dark) {
        &:not(.light) {
            /* Repeat Dark theme variables */
            --bg-clr: #383434;
            --text-clr: #feefe3;
            --heading-clr: #BB7E5D;
            
            --primary-clr: color-mix(in srgb, #6295e1, black 10%);
            --secondary-clr: color-mix(in srgb, #4DA167, black 20%);
            --accent-clr: #E4C3AD;
            
            --link-clr: color-mix(in srgb, var(--text-clr), var(--secondary-clr) 50%);
            --link-hover-clr: color-mix(in srgb, var(--link-clr), white 20%);
            
            --border-clr: var(--text-clr);
            
            --header-bg-clr: var(--heading-clr);
            --header-text-clr: var(--text-clr);
            
            --footer-bg-clr: var(--heading-clr);
            --footer-text-clr: var(--text-clr);
            
            --button-bg-clr: var(--primary-clr);
            --button-text-clr: var(--text-clr);
            --button-hover-bg-clr: color-mix(in srgb, var(--button-bg-clr), white 20%);
            
            --card-bg-clr: var(--secondary-clr);
            --card-border-clr: var(--text-clr);


            & .dark {
                display: initial;
            }

            & .light {
                display: none;
            }
        }
    }
}