@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rock+Salt&display=swap');
@import 'colors.css';

:root {
    /**
     * Borders 
     */
    /* My preferred border radius, open to adjustments */
    --base-radius: 1rem;
    --radius-sm: calc(var(--base-radius) * .25);
    --radius-med: var(--base-radius);
    --radius-lg: calc(var(--base-radius) * 1.5);

    /**
     * Content Spacing
     */
    /* Guestimated for easy adjustment if needed */
    --base-spacing: 2.5rem;
    --spacing-sm: calc(var(--base-spacing) * .5);
    --spacing-med: var(--base-spacing);
    --spacing-lg: calc(var(--base-spacing) * 1.5);

    /**
     * Layout Sizes
     */
    /* Guestimated for elements using it. */
    --content-max-width: 80%;
    --breakout-max-width: calc(var(--content-max-width) + (var(--spacing-lg) * 2));
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
     
    /**
     * Typography 
     */
     /* My preferred fonts, open to change if teammates would like. */
    --font-family-heading: 'Rock Salt', sans-serif;
    --font-family-body: 'Patrick Hand', sans-serif;
    --font-family-mono: 'Courier New', monospace;
    
    /* Font sizes that are readable on desktop screen */
    --font-size-base: 1.5rem;
    --font-size-xs: calc(var(--font-size-base) * .25);
    --font-size-sm: calc(var(--font-size-base) * .5);
    --font-size-med: var(--font-size-base);
    --font-size-lg: calc(var(--font-size-base) * 1.5);
    --font-size-xl: calc(var(--font-size-base) * 3);
    
    /* Line heights that are easily adjustable in other styles if needed,
    I think the main body is set tot tight spacing which is weird. */
    --line-height-base: 6rem;
    --line-height-tight: calc(var(--font-size-base) * .85);
    --line-height-loose: calc(var(--font-size-base) * 2.5);
    
    --font-weight-normal: 400;
    --font-weight-bold: 900;
}