/* 
 * Form Component
 * 
 * TODO: Style form elements including:
 * - Input fields (text, email, etc.)
 * - Labels
 * - Textareas
 * - Select dropdowns
 * - Focus states
 * - Error and success states
 */

/* ------------
FORM COMPONENTS
------------ */

@import 'base/variables.css';
@import 'base/colors.css';

.contact-form {
    display: block;
    box-sizing: border-box;
    margin: var(--spacing-sm) auto;
    padding: clamp(calc(var(--spacing-sm) * 0.7), var(--spacing-sm), calc(var(--spacing-sm) * 1.3));;
    width: 100%;
    
    max-width: var(--content-max-width);
    color: var(--text-clr);
    font-size: var(--font-size-lg);
    
    /* INPUTS (w/ field, textarea, select) */
    :is(input, textarea, select, button) {
        display: block;
        width: 100%;
        min-height: var(--spacing-sm);
        padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
        
        background-color: transparent;
        color: var(--text-clr);
        font-size: var(--font-size-lg);
        border-radius: 10px;

        option {
            font-family: var(--font-family-body);
            color: var(--txt-clr);
            background-color: var(--bg-clr);

            &:focus {
                color: var(--text-clr);
            }
        }

        /* Error state */
        &:required:user-invalid { /* For required fields, only if not able to send */
            border: 1px solid red;
        }
        
        /* Focus indicator */
        &:focus-visible {
            outline: 2px solid var(--text-clr);
            outline-offset: 2px;
        }
    }

    /* LABELS*/
    label {
        display: block;
        font-size: var(--font-size-lg);
        padding: 0;
        margin-bottom: 1px;
    }

    /* SUBMIT BUTTON */
    .button {
        margin-top: var(--spacing-med);
        font-size: var(--font-size-lg);

        font-weight: bold;
        background-color: var(--primary-clr);
        color: var(--bg-clr);
        border: none;

        &:hover {
            outline: 2px solid var(--text-clr);
            outline-offset: 2px;
            cursor: pointer;
        }
    }
}