/* 
 * Form Component
 * 
 * TODO: Style form elements including:
 * - Input fields (text, email, etc.)
 * - Labels
 * - Textareas
 * - Select dropdowns
 * - Focus states
 * - Error and success states
 */

/* ------------
FORM COMPONENTS
------------ */

@import 'base/variables.css';
@import 'base/colors.css';

.contact-form {
    display: block;
    box-sizing: border-box;
    padding: clamp(calc(var(--spacing-sm) * 0.7), var(--spacing-sm), calc(var(--spacing-sm) * 1.3));;
    color: var(--text-clr);
    max-width: var(--content-max-width);
    font-size: var(--font-size-med);
    width: 100%;

    * {
        box-sizing: inherit;
    }

    /* INPUTS (w/ field, textarea, select) */
    :is(input, textarea, select, button) {
        display: block;
        width: 100%;
        padding: clamp(calc(var(--spacing-sm) * 0.7), var(--spacing-sm), calc(var(--spacing-sm) * 1.3));
        margin-bottom: var(--spacing-sm);
        min-height: var(--spacing-sm);
        
        background-color: transparent;
        color: var(--text-clr);
        font-size: var(--font-size-base);
        border-radius: 10px;

        /* Error state */
        &:required:user-invalid { /* For required fields, only if not able to send */
            border: 1px solid red;
        }
        
        /* Focus indicator */
        &:focus-visible {
            outline: 2px solid var(--text-clr);
            outline-offset: 2px;
        }
    }

    /* LABELS*/
    label {
        display: block;
        font-size: var(--font-size-base);
        margin-bottom: calc(var(--spacing-sm) * 0.3);
    }

    /* SUBMIT BUTTON */
    .button {
        font-size: var(--font-size-med);
        font-weight: bold;
    }
}